#preloader{
	width: 0px;
	height: 0px;
	display: inline;
}

#video{
	width: 800px;
	border:1px solid #000;
	display: block;
}

canvas {
	margin-right: 20px;
	border:1px solid #F9264C;
	border-radius: 10px;
}

#compare {
	position: absolute;
	top:20px;
	left: 0;
}